body {
    background-color: #344a72;
    font-family: "Roboto", sans-serif;
  }

.login-box {
    width: 360px;
    height: 355px;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    margin-top: 180px;
  }

  h1 {
    text-align: center;
    padding-top: 20px;
    color: #49c1a2;
  }

  .error{
    margin-left: 20px;
    width: 300px;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    background-color: rgb(243, 207, 207);
    color: rgb(204, 80, 80);
  }
  
  h4 {
    text-align: center;
  }

    
  form {
    width: 300px;
    margin-left: 20px;
    margin-top: 35px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
    font-weight: 300;
    font-size: 20px;
  }
  form input:hover{
    border: 2px solid  #49c1a2 ;
  }


  .forgot{
    float: right;
    margin-top: 12px;
  }
  .forgot a{
    text-decoration: none;
    
  }
  .forgot a:hover{
    color: blue;
    text-decoration:underline;
  }

  input[type="submit"] {
    width: 320px;
    height: 35px;
    margin-top: 15px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  input[type="submit"]:hover{
    background-color: #278b72;
    
  }

  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: -10px;

  }
  .para-2 a {
    color: #49c1a2;
    text-decoration: none;
  }
  .para-2 a:hover {
    color: #a0ecd9;
  }